.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
Client/BetaRenderer- no integration/css/addons/datatables-select.min.css
Client/BetaRenderer- no integration/css/addons/datatables-select.css
Client/BetaRenderer- no integration/css/addons/datatables-select.min.css
Client/BetaRenderer- no integration/css/addons/datatables.css
Client/BetaRenderer- no integration/css/addons/datatables.min.css
Client/BetaRenderer- no integration/css/addons/directives.css
Client/BetaRenderer- no integration/css/addons/directives.min.css
Client/BetaRenderer- no integration/css/addons/flag.css
Client/BetaRenderer- no integration/css/addons/flag.min.css
Client/BetaRenderer- no integration/css/addons/rating.css
Client/BetaRenderer- no integration/css/addons/rating.min.css
Client/BetaRenderer- no integration/css/addons/zmd.hierarchical-display.css
Client/BetaRenderer- no integration/css/addons/zmd.hierarchical-display.min.css
Client/BetaRenderer- no integration/css/bootstrap.css
Client/BetaRenderer- no integration/css/bootstrap.min.css
Client/BetaRenderer- no integration/css/ClearSans-Bold.eot
Client/BetaRenderer- no integration/css/ClearSans-Bold.ttf
Client/BetaRenderer- no integration/css/mdb.css
Client/BetaRenderer- no integration/css/mdb.lite.css
Client/BetaRenderer- no integration/css/mdb.lite.min.css
Client/BetaRenderer- no integration/css/mdb.min.css
Client/BetaRenderer- no integration/css/modules/animations-extended.css
Client/BetaRenderer- no integration/css/modules/animations-extended.min.css
Client/BetaRenderer- no integration/css/addons/datatables-select.css
Client/BetaRenderer- no integration/css/addons/datatables-select.min.css
Client/BetaRenderer- no integration/css/addons/datatables.css
Client/BetaRenderer- no integration/css/addons/datatables.min.css
Client/BetaRenderer- no integration/css/addons/directives.css
Client/BetaRenderer- no integration/css/addons/directives.min.css
Client/BetaRenderer- no integration/css/addons/flag.css
Client/BetaRenderer- no integration/css/addons/flag.min.css
Client/BetaRenderer- no integration/css/addons/rating.css
Client/BetaRenderer- no integration/css/addons/rating.min.css
Client/BetaRenderer- no integration/css/addons/zmd.hierarchical-display.css
Client/BetaRenderer- no integration/css/addons/zmd.hierarchical-display.min.css
Client/BetaRenderer- no integration/css/bootstrap.css
Client/BetaRenderer- no integration/css/bootstrap.min.css
Client/BetaRenderer- no integration/css/ClearSans-Bold.eot
Client/BetaRenderer- no integration/css/ClearSans-Bold.ttf
Client/BetaRenderer- no integration/css/mdb.css
Client/BetaRenderer- no integration/css/mdb.lite.css
Client/BetaRenderer- no integration/css/mdb.lite.min.css
Client/BetaRenderer- no integration/css/mdb.min.css
Client/BetaRenderer- no integration/css/modules/animations-extended.css
Client/BetaRenderer- no integration/css/modules/animations-extended.min.css
Client/BetaRenderer- no integration/css/addons/datatables-select.css
Client/BetaRenderer- no integration/css/addons/datatables-select.min.css
Client/BetaRenderer- no integration/css/addons/datatables.css
Client/BetaRenderer- no integration/css/addons/datatables.min.css
Client/BetaRenderer- no integration/css/addons/directives.css
Client/BetaRenderer- no integration/css/addons/directives.min.css
Client/BetaRenderer- no integration/css/addons/flag.css
Client/BetaRenderer- no integration/css/addons/flag.min.css
Client/BetaRenderer- no integration/css/addons/rating.css
Client/BetaRenderer- no integration/css/addons/rating.min.css
Client/BetaRenderer- no integration/css/addons/zmd.hierarchical-display.css
Client/BetaRenderer- no integration/css/addons/zmd.hierarchical-display.min.css
Client/BetaRenderer- no integration/css/bootstrap.css
Client/BetaRenderer- no integration/css/bootstrap.min.css
Client/BetaRenderer- no integration/css/ClearSans-Bold.eot
Client/BetaRenderer- no integration/css/ClearSans-Bold.ttf
Client/BetaRenderer- no integration/css/mdb.css
Client/BetaRenderer- no integration/css/mdb.lite.css
Client/BetaRenderer- no integration/css/mdb.lite.min.css
Client/BetaRenderer- no integration/css/mdb.min.css
Client/BetaRenderer- no integration/css/modules/animations-extended.css
Client/BetaRenderer- no integration/css/modules/animations-extended.min.css
Client/BetaRenderer- no integration/css/style.min.css
Client/BetaRenderer- no integration/js/addons/datatables-select.js
Client/BetaRenderer- no integration/js/addons/datatables-select.min.js
Client/BetaRenderer- no integration/js/addons/datatables.js
Client/BetaRenderer- no integration/js/addons/datatables.min.js
Client/BetaRenderer- no integration/js/addons/imagesloaded.pkgd.min.js
Client/BetaRenderer- no integration/js/addons/jquery.zmd.hierarchical-display.js
Client/BetaRenderer- no integration/js/addons/jquery.zmd.hierarchical-display.min.js
Client/BetaRenderer- no integration/js/addons/masonry.pkgd.min.js
Client/BetaRenderer- no integration/js/addons/progressBar.js
Client/BetaRenderer- no integration/js/addons/progressBar.min.js
Client/BetaRenderer- no integration/js/addons/rating.js
Client/BetaRenderer- no integration/js/addons/rating.min.js
Client/BetaRenderer- no integration/js/anime.min.js
Client/BetaRenderer- no integration/js/bootstrap.js
Client/BetaRenderer- no integration/js/bootstrap.min.js
Client/BetaRenderer- no integration/js/jquery-3.4.1.min.js
Client/BetaRenderer- no integration/js/mdb.js
Client/BetaRenderer- no integration/js/mdb.min.js
Client/BetaRenderer- no integration/js/modules/bs-custom-file-input.js
Client/BetaRenderer- no integration/js/modules/chart.js
Client/BetaRenderer- no integration/js/modules/enhanced-modals.js
Client/BetaRenderer- no integration/js/modules/forms-free.js
Client/BetaRenderer- no integration/js/modules/jquery.easing.js
Client/BetaRenderer- no integration/js/modules/scrolling-navbar.js
Client/BetaRenderer- no integration/js/modules/treeview.js
Client/BetaRenderer- no integration/js/modules/velocity.js
Client/BetaRenderer- no integration/js/modules/velocity.min.js
Client/BetaRenderer- no integration/js/modules/waves.js
Client/BetaRenderer- no integration/js/modules/wow.js
Client/BetaRenderer- no integration/js/popper.min.js
Client/BetaRenderer- no integration/logo.png
Client/css/addons/datatables-select.css
Client/css/addons/datatables-select.min.css
Client/css/addons/datatables.css
Client/css/addons/datatables.min.css
Client/css/addons/directives.css
Client/css/addons/directives.min.css
Client/css/addons/flag.css
Client/css/addons/flag.min.css
Client/css/addons/rating.css
Client/css/addons/rating.min.css
Client/css/addons/zmd.hierarchical-display.css
Client/css/addons/zmd.hierarchical-display.min.css
Client/css/bootstrap.css
Client/css/bootstrap.min.css
Client/css/ClearSans-Bold.eot
Client/css/ClearSans-Bold.ttf
Client/css/mdb.css
Client/css/mdb.lite.css
Client/css/mdb.lite.min.css
Client/css/mdb.min.css
Client/css/modules/animations-extended.css
Client/css/modules/animations-extended.min.css
Client/jscolor-example.html
Client/js/jscolor.js
Client/js/dark-mode-switch.min.js
Client/js/dark-mode-switch.js
Client/css/dark-mode.css
