@font-face
{
font-family: ClearSans-Bold;
src: url('ClearSans-Bold.ttf'),
url('ClearSans-Bold.eot');
}
.gridlines{
  position: absolute;
  z-index: 12;
}
.grid{

  position: absolute;
  border-radius: .8vmin;
  background-color: #bbada0;
  border: 2vmin solid #776e65;
  width:83.5vmin;
  height:83.5vmin;
  z-index: -10000;

}

.vline {
  position: absolute;
  width:.5vmin;
  height: 80vmin;
  background-color: #776e65;
  margin-left: -.5vmin;
  z-index: 0 !IMPORTANT;
}
.hline {
  
  position: absolute;
  width:80vmin;
  height:.5vmin;
  background-color: #776e65;
  margin-top: -.5vmin;
  margin-bottom: .5vmin;
  z-index: 0;
}
.gridternals {
  margin-left:1.872vmin;
  margin-top: 1.872vmin;
  position: absolute;
}
.tile{
  margin: 0 auto;
  border-radius: .5vmin;
  position: absolute;
  text-align: center;
  line-height: 5vmin;
  font-size:5vmin;
  font-family: ClearSans-Bold, sans-serif;
  width:  5.31769230769vmin;
  height: 5.31769230769vmin;
  background-color: rgb(72, 255, 96);
  z-index: -5;
}
.blocked{
  position: absolute;
  margin: 0 auto;
  border-radius: 0vmin;
  position: absolute;
  text-align: center;
  line-height: 5vmin;
  font-size:5vmin;
  font-family: ClearSans-Bold, sans-serif;
  width:  5.31769230769vmin;
  height: 5.31769230769vmin;
  background-color:rgba(238, 228, 218, 0.35);
  z-index: -5554;
}
.Board{
  width:83.5vmin;
  height:83.5vmin;
  position: absolute;
  justify-content: center;
  transform: translate(-15vmin,2%);
  }

.Title {
  font-size:10vmin;
  font-family: ClearSans-Bold, sans-serif;
}
.rightpl {
  transform: translate(90vmin,12%);
  width:30vmin !important;
}