#boxes{
  width:80%;
  margin:auto;
  text-align: center;
}
#grid{
  width:80%;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 0);
  border: 1vmin solid black;
  width:80vmin;
  height:80vmin;
}
.vline {
  width:1vmin;
  height: 80vmin;
  background-color: black;
  margin-left: -1vmin;
}
.hline {
  width:80vmin;
  height: 1vmin;
  background-color: black;
}
.box{
  
  position: relative;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  background-color: dimgray
}

