#boxes{
  width:80%;
  margin:auto;
  text-align: center;
}
#grid{
  width:80%;
  border-radius: 6%;
  background-color: white;
  border: 1vmin solid black;
  width:80vmin;
  height:80vmin;
}

.box{
  
  position: relative;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
  background-color: dimgray
}

